body {
  margin: 0 auto;
}
:root {
  --main-color: #317eeb;
  --hover-color: #2764ba;
  --body-color: #e0e0e0;
  --box-color: white;
  --border-color: #edeef3;
  --background-footer-color: #EDEEF3;
  --light-blue: rgba(0,186,195,1);
  --link-ligh-hover: rgba(16,244,255,1);
}
.container {
  min-width: 100%;
}

